<div class="container padding-bottom-3x mb-2" id="corps">
    <div class="row justify-content-center">
      									<div class="text-center">
										<img src="https://previews.123rf.com/images/bsd555/bsd5552007/bsd555200701656/152490934-university-black-glyph-icon-higher-education-student-lifestyle-silhouette-symbol-on-white-space.jpg" alt="Logo FST" class="img-fluid rounded-circle" width="180px" height="auto">
									</div>
        <div class="col-lg-8 col-md-10">
            <h2>Avez-vous oubliez votre mot de passe?</h2>
            <p>Suivez ces trois(3) étapes pour obtenir un nouveau mot de passe.</p>
            <ol class="list-unstyled">
                <li><span class="text-primary text-medium">1. </span>Entrer votre adresse email ci-dessous.</li>
                <li><span class="text-primary text-medium">2. </span>Vous recevrez un email avec un nouveau mot de passe.</li>
                <li><span class="text-primary text-medium">3. </span>Utilisez ce mot de passe pour acceder a l'application.</li>
            </ol>
            <form class="card mt-4" [formGroup]="form" (ngSubmit)="onResetPassword()">
                <div class="card-body">
                    <div class="form-group">
                      <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Saisissez votre email</mat-label>
                        <input type="email" id="email-for-pass"  matInput formControlName="email"   required>
                        <mat-error *ngIf="form.get('email')?.hasError('required')">
                          Remplir le champ avec votre email lors de votre enregistrement. Ainsi les etapes seront valides

                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="card-footer">


                        <button type="submit" class="btn btn-primary px-4" [disabled]="form.invalid || showLoading">
                          <span *ngIf="!showLoading">Obtenir un nouveau mot de passe</span>
                          <span *ngIf="showLoading">
                          <i class="fas fa-spinner fa-spin"></i> Loading...
                          </span>
                          </button>
                      <a style="margin-left: 40%;" [routerLink]="['/login']" routerLinkActive="router-link-active" >Se connecter?</a>
                </div>
            </form>
        </div>
    </div>
</div>
