<div class="container padding-bottom-3x mb-2" id="corps">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>Changez votre mot de passe ici--</h2>
            <form class="card mt-4" [formGroup]="form" (ngSubmit)="onResetPassword()">
                <div class="card-body">
                    <div class="form-group">
                      <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Mot de passe Actuel</mat-label>
                        <input type="password" id="email-for-pass"  matInput formControlName="oldPassword"   required>
                        <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
                          Remplir le champ avec votre mot de passe actuel
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input type="password" id="email-for-passe"  matInput formControlName="password"   required>
                        <mat-error *ngIf="form.get('password')?.hasError('required')">
                          Remplir le champ avec votre nouveau mot de passe
                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="card-footer">


                        <button type="submit" class="btn btn-primary px-4" [disabled]="form.invalid || showLoading">
                          <span *ngIf="!showLoading">Obtenir un nouveau mot de passe</span>
                          <span *ngIf="showLoading">
                          <i class="fas fa-spinner fa-spin"></i> Loading...
                          </span>
                          </button>
                </div>
            </form>
        </div>
    </div>
</div>
