
.form-control, .dataTable-input {
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#carte{
  width: 450px;
}

#example-form {
  min-width: 150px;
  max-width: 500px;
  display: inline-block;

  margin-inside: 30%;
}

#inputin{
  width: 380px;
}




